/* font-size: responsive [min-font-size] [max-font-size]
font-range: [lower-bound] [upper-bound] */

$font-range: 575px 1900px;
$fontsize1: 12px 12px;
$fontsize2: 15px 15px;
$fontsize3: 16px 20px;
$fontsize4: 30px 50px;
$fontsize5: 35px 70px;
$fontsize6: 45px 100px;


html {
  font-size: 10px;
}

body {
  // text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  font-size: responsive $fontsize3;
  font-range: $font-range;
  line-height: 1.5;
}

.font-slab {
  font-family: 'Roboto Slab', serif;
}

.font-size-1 {
  font-size: responsive $fontsize1;
  /* stylelint-disable-next-line */
  font-range: $font-range;
  line-height: 1.5;
}

.font-size-2 {
  font-size: responsive $fontsize2;
  font-range: $font-range;
  line-height: 1.5;
}

.font-size-3 {
  font-size: responsive $fontsize3;
  font-range: $font-range;
  line-height: 1.2;
}

.font-size-4 {
  font-size: responsive $fontsize4;
  font-range: $font-range;
  line-height: 1.2;
}

.font-size-5 {
  font-size: responsive $fontsize5;
  font-range: $font-range;
  line-height: 1.2;
}

.font-size-6 {
  font-size: responsive $fontsize6;
  font-range: $font-range;
  line-height: 1.2;
}




/* Font weights
   ========================================================================== */
/*
100 - Thin
200 - Extra Light, Ultra Light
300 - Light
400 - Normal, Book, Regular
500 - Medium
600 - Semi Bold, Demi Bold
700 - Bold
800 - Extra Bold, Ultra Bold
900 - Black, Heavy
*/

.font-weight-100 {
  font-weight: 200;
}

.font-weight-200 {
  font-weight: 200;
}

/* light */
.font-weight-300 {
  font-weight: 300;
}

/* regular */
.font-weight-400 {
  font-weight: 400;
}

/* medium */
.font-weight-500 {
  font-weight: 500;
}

/* semi-bold */
.font-weight-600 {
  font-weight: 600;
}

/* bold */
.font-weight-700 {
  font-weight: 700;
}

/* black */
.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-1000 {
  font-weight: 1000;
}
