<section class="hp-clients section-space">
  <div class="container-a">

    <div class="hp-clients__title font-size-5 split-title font-slab font-weight-100">Συνεργασίες που διαρκούν.</div>
    <div class="hp-clients__copy">
      <p>Δείτε μερικούς από τους πελάτες μας αλλά και κάποιες από τις συνεργασίες που έχουμε δημιουργήσει τα
        τελευταία χρόνια.</p>
    </div>
  </div>

  <div class="hp-clients__section section-space-small">
    <div class="container-a">
      <div class="hp-clients__section-title font-size-1 font-weight-700">ΠΕΛΑΤΕΣ</div>
    </div>
    <div class="hp-clients__marquee hp-clients__marquee-1">
      <img src="./images/logos/1.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/2.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/3.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/4.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/5.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/6.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/7.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/8.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/9.jpg" alt="" class="hp-clients__img">
    </div>
  </div>

  <div class="hp-clients__section section-space-small">
    <div class="container-a">
      <div class="hp-clients__section-title font-size-1 font-weight-700">ΤΕΛΙΚΟΙ ΑΠΟΔΕΚΤΕΣ</div>
    </div>
    <div class="hp-clients__marquee hp-clients__marquee-2 reverse">
      <img src="./images/logos/1.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/2.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/3.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/4.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/5.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/6.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/7.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/8.jpg" alt="" class="hp-clients__img">
      <img src="./images/logos/9.jpg" alt="" class="hp-clients__img">
    </div>
  </div>
</section>
