<footer class="footer">
  <div class="container-a">
    <div class="footer__top">
      <div class="footer__top-copy">
        <div class="footer__top-copy-title font-slab font-size-5 font-weight-100">Ελάτε να συνεργαστούμε.
        </div>
        <div class="footer__top-copy-details font-size-2 font-weight-700">
          <div class="footer__top-copy-details-box">
            216 900 9087<br>
            info@vened.gr<br>
          </div>
          <div class="footer__top-copy-details-box">
            Θεση Μανδρα, Λογοθετη,<br>
            Μαγουλα ΤΚ 196 00, Αττικη<br>
          </div>
        </div>
      </div>
      <a href="" class="footer__top-circle">
        <img class="footer__top-circle-copy" src="./images/svg/circlegr.svg" alt="">
        <img class="footer__top-circle-play" src="./images/svg/play-circle-footer.svg" alt="">
      </a>
    </div>
  </div>
  <div class="footer__loader">
    <div class="footer__loader-line"></div>
    <div class="footer__loader-progress"></div>
  </div>
  <div class="footer__bot">
    <ul class="footer__bot-legal font-size-1 font-weight-700">
      <li class="footer__bot-legal-li"><a href="" class="footer__bot-legal-link">TERMS & CONDITIONS</a></li>
      <li class="footer__bot-legal-li"><a href="" class="footer__bot-legal-link">COOKIES POLICY</a></li>
      <li class="footer__bot-legal-li">VENED WELDING CO. © 2020</li>
      <li class="footer__bot-legal-li"><a href="" class="footer__bot-legal-link">HANDCRAFTED BY ANTMOVES</a></li>
    </ul>

    <ul class="footer__bot-extras">
      <li class="footer__bot-extras-li"><a href="" class="footer__bot-extras-link"><img src="./images/svg/facebook.svg"
            alt=""></a></li>
      <li class="footer__bot-extras-li"><a href="" class="footer__bot-extras-link"><img src="./images/svg/linkedin.svg"
            alt=""></a></li>
      <li class="footer__bot-extras-li font-size-2 footer__go-top js-go-top">
        <div>BACK TO TOP</div>
        <img src="./images/svg/gotop.svg" alt="">
      </li>
    </ul>
  </div>
</footer>
