<head>
  <!-- Primary Meta Tags -->
  <title>Vened | Welding Contractions</title>
  <meta name="title" content="Vened | Welding Contractions">
  <meta name="description" content="">

  <!-- Remove format detection -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Remove format detection -->
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="mobile-web-app-capable" content="yes">

  <script>
    // window.paceOptions = {
    //   // Only show the progress on regular and ajax-y page navigation,
    //   // not every request
    //   restartOnRequestAfter: false
    // };
  </script>
  <!-- PaceJS -->
  <script src="js/pace.min.js"></script>

  <!-- roboto / roboto slab -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;900&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet">


  <!-- Template CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>
