<header class="header">
  <div class="header__bg"></div>
  <!-- LOGO -->
  <a href="index.html" class="header__logo">
    <img src="./images/logo.svg" alt="">
  </a>
  <!-- LANGUAGE -->
  <div class="header__lang font-size-2">
    <!-- active copy -->
    <div class="header__lang-active">
      <div class="header__lang-active-copy" data-text="Ελληνικά">
        <span class="d-none d-xl-inline-block">Ελληνικά</span>
        <span class="d-xl-none">Ελ</span>
      </div>
      <div class="header__lang-active-icon">
        <div class="header__lang-active-icon-plus">+</div>
        <div class="header__lang-active-icon-minus">-</div>
      </div>
    </div>
    <!-- dp -->
    <div class="header__lang-dp" data-barba-prevent="all">
      <a href="" class="header__lang-dp-link">
        <span class="d-none d-xl-inline-block">Ελληνικά</span>
        <span class="d-xl-none">Ελ</span>
      </a>
      <a href="" class="header__lang-dp-link">
        <span class="d-none d-xl-inline-block">Αγγλικά</span>
        <span class="d-xl-none">Αγγ</span>
      </a>
    </div>
    <!-- bg -->
    <div class="header__lang-bg"></div>
  </div>

  <div class="header__burger">
    <div class="header__burger-top-line header__burger-line"></div>
    <div class="header__burger-bottom-line header__burger-line"></div>
  </div>

</header>
