<div class="menu">
  <div class="menu__bg"></div>

  <div class="menu__scrollable">

    <div class="menu__container">

      <ul class="menu__ul font-slab">
        <li class="menu__li">
          <a href="about.html" class="menu__link">
            <div class="menu__li-circle">01</div>
            <div class="menu__li-copy">ΕΤΑΙΡΕΙΑ</div>
          </a>
        </li>
        <li class="menu__li">
          <a href="index.html" class="menu__link">
            <div class="menu__li-circle">02</div>
            <div class="menu__li-copy">ΕΡΓΑ</div>
          </a>
        </li>
        <li class="menu__li">
          <a href="" class="menu__link active">
            <div class="menu__li-circle">03</div>
            <div class="menu__li-copy">ΥΠΗΡΕΣΙΕΣ</div>
          </a>
        </li>
        <li class="menu__li">
          <a href="" class="menu__link">
            <div class="menu__li-circle">04</div>
            <div class="menu__li-copy">ΕΠΙΚΟΙΝΩΝΙΑ</div>
          </a>
        </li>

      </ul>

      <div class="menu__secondary">
        <a href="" class="menu__secondary-link">ΟΡΟΙ ΧΡΗΣΗΣ</a>
        <a href="" class="menu__secondary-link">ΠΟΛΙΤΙΚΗ COOKIES</a>
      </div>

      <div class="menu__social">
        <a href="" target="_blank" class="menu__social-link">
          <img src="./images/svg/facebook.svg" alt="">
        </a>
        <a href="" target="_blank" class="menu__social-link">
          <img src="./images/svg/linkedin.svg" alt="">
        </a>
      </div>


    </div>
  </div>
</div>
